.email-container {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	padding: 30px 30px;
	border: 1px solid black;
	background: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #989898;

}

.email-form {
	width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.email-banner {
	display: block;
	width: 100%;
	max-width: 700px;
}

.email_sub-container {
	max-width: 700px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.email_sub-container input {
	width: 100%;
	/*max-width: 595px;*/
	padding: 5px 10px;
	height: 40px;
	/*margin-left: 10px;*/
}

.email-submit-btn {
	cursor: pointer;
	width: 110px;
	padding: 20px 20px;
	background: #fff;
	color: #333;
	font-size: 18px;
	box-shadow: 1px 1px 1px #d3d3d3;
	border-bottom: 30px;
	transition: all 0.2s;
	border-radius: 50px;

}

.email-submit-btn:hover{
	background: var(--pink);
	color: #fff;
}

.lady-ann-logo2-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 700px;
    margin-top: 20px;
}

.lady-ann-logo2 {
    width: 150px;
    height: 150px;
}











